<form id="addUpdateContractRentalForm" novalidate autocomplete="off" onsubmit="event.preventDefault()">

    <h3 class="card-title" style="display: inline;  position:relative; top: 5px;">
        {{#if contractRental.id}}
        View / Edit Contract Rental Payment
        {{else}}
        Add Contract Rental Payment
        {{/if}}
    </h3>
    {{#if editmode}}
    <button type="submit" class="btn btn-secondary btn-sm contractRentalSubmitbtn">
        <i class="fas fa-save"></i>
        Save
    </button>
    <button type="button" class="btn btn-secondary btn-sm  contractRentalSubmitBtnDisabled" disabled style="display: none;">
        <i class="fas fa-spinner fa-spin"></i>
        Save
    </button>
    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#contractRentalModal">
        <i class="fas fa-times"></i> Cancel
    </button>
    <button type="button" class="btn btn-secondary btn-sm scrollToBottomBtn faa-parent animated-hover">
        <i class="fas fa-hand-point-down faa-falling"></i> Scroll to Bottom
    </button>
    {{else}}

    <button type="button" class="btn btn-secondary btn-sm editContractRentalBtn">
        <i class="fas fa-edit"></i> Edit
    </button>
    <button type="button" class="btn btn-secondary btn-sm addNewContractRental">
        <i class="fas fa-plus"></i> New
    </button>
    <a href="./Accounting?container=manageContractRentalContainer" class="btn btn-secondary btn-sm">
        <i class="fas fa-binoculars"></i> Search Rentals
    </a>
    <button type="button" class="btn btn-secondary btn-sm scrollToBottomBtn faa-parent animated-hover">
        <i class="fas fa-hand-point-down faa-falling"></i> Scroll to Bottom
    </button>
    {{/if}}

    {{#if showOverdueInd}}
    <div class="alert alert-info d-flex flex-row mt-3 col-12">
        <i class="fas fa-fw fa-info-circle mr-3 align-self-center"></i>
        <div>
            This payment is overdue
        </div>
    </div>
    {{/if}}

    {{#if showExpirationInd}}
    <div class="alert alert-warning d-flex flex-row mt-3 col-12">
        <i class="fas fa-fw fa-hourglass-end mr-3 align-self-center"></i>
        <div>
            This contract has expired
        </div>
    </div>
    {{/if}}

    {{#if showTerminationInd}}
    <div class="alert alert-danger d-flex flex-row mt-3 col-12">
        <i class="fas fa-fw fa-ban mr-3 align-self-center"></i>
        <div>
            This contract is terminated
        </div>
    </div>
    {{/if}}



<div class="row mt-1">
    <div class="col-sm-12">
        <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Check Information</h3>
        <hr class="mt-2 mb-5">
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
            <label for="Name">
                Check Number
            </label>
            {{#if editmode}}
            <br />
            <select name="contractRentalCheckNum" class="form-control" id="contractRentalCheckNum" required style="width: 90%">
            </select>
            {{else}}
            {{#if check.id}}
            <div>
                <a href="./Accounting?container=addUpdateCheckContainer&checkId={{check.id}}&contractRentalId={{contractRental.id}}">
                    <i class="fas fa-link"></i> {{check.checkNum}}
                </a>
            </div>
            {{else}}
            <input class="form-control" disabled readonly />
            {{/if}}
            {{/if}}
        </div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
            <label>
                Check Date
            </label>
            <input class="form-control" disabled readonly value="{{check.checkDate}}" />
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
            <label>
                Check Received Date
            </label>
            <input class="form-control" disabled readonly value="{{check.receivedDate}}" />
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
            <label>
                Company
            </label>
            {{#if check.lesseeId}}
            <div>
                <a target="_blank" href="./Contracts?container=manageLesseesContainer&lesseeId={{check.lesseeId}}">
                    <i class="fas fa-link"></i> {{lessee.lesseeName}}
                </a>
                {{#if showLesseeNameFromCheckInd}}
                <div>
                    <small><i>Name on Check: {{check.lesseeName}}</i></small>
                </div>
                {{/if}}
            </div>
            {{else}}
            <input class="form-control" disabled readonly />
            {{/if}}
        </div>
    </div>


    <div class="col-sm-12">
        <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">
            Contract Information
            {{#if editmode}}
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                    id="contractRentalTableModalBtn" data-target="#contractRentalTableModal">
                <i class="fas fa-border-all"></i> Choose Contract
            </button>
            {{/if}}
        </h3>
        <hr class="mt-2 mb-5">
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label>
                Contract
            </label>
            {{#if contract.contractId}}
            <div>
                <a href="./Contracts?container=addUpdateContractContainer&contractId={{contract.contractId}}&contractRentalId={{contractRental.id}}">
                    <i class="fas fa-link"></i> {{contract.contractNum}}
                </a>
            </div>
            {{else}}
            <input class="form-control" disabled readonly id="contractRentalContract" required />
            <div style="display:none;" id="contractRentalContractError"><span class="text-danger small">Please select a contract </span></div>
            {{/if}}
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label>
                Tract
            </label>
            <input class="form-control" disabled readonly value="{{contract.tractNum}}" />
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
            <label>
                Effective Date
            </label>
            <input class="form-control" disabled readonly value="{{contract.effectiveDate}}" placeholder="N/A" />
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
            <label>
                Expiration Date
            </label>
            <input class="form-control" disabled readonly value="{{contract.expirationDate}}" placeholder="N/A" />
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
            <label>
                Termination Date
            </label>
            <input class="form-control" disabled readonly value="{{contract.terminationDate}}" placeholder="N/A" />
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="contractRentalPayment">
                Expected Rental Payment
                <a data-toggle="modal" href="#storageRentalModal">
                    <small class="ml-3">
                        <i class="fas fa-info-circle"></i>
                        <i>show payment information</i>
                    </small>
                </a>
            </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                </div>
                <input type="number"
                       class="form-control"
                       placeholder="0.00"
                       step=".01"
                       min="0"
                       disabled readonly
                       value="{{contract.contractRentalPayment}}" />
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 ">
        <div class="form-group">
            <label> Rental Payment Month/s</label>
            </br>
            <select id="contractRentalPaymentsDue" name="contractRentalPaymentsDue" style="min-width: 100%;" multiple="multiple" class="form-control select2" disabled>
                <option></option>
                {{#each this.contractRentalPaymentMonths}}
                <option {{#if this.selected}}
                        selected
                        {{/if}}
                        value="{{this.id}}">
                    {{this.monthName}}
                </option>
                {{/each}}
            </select>
        </div>
    </div>


    <div class="col-sm-12">
        <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">
            Payment Information
        </h3>
        <hr class="mt-2 mb-5">
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 ">
        <div class="form-group">
            <label> Period</label>
            <select id="contractPeriodTypeId" name="periodTypeId"
                    class="form-control contractRentalInput"
                    {{#unless editmode}} disabled readonly {{/unless}}>
                {{#each this.periodTypes}}
                <option {{#if this.selected}}
                        selected
                        {{/if}}
                        value="{{this.id}}">
                    {{this.periodTypeName}}
                </option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 ">
        <div class="form-group">
            <label>Payment Year</label>
            <select id="contractPaymentPeriodYear" name="contractPaymentPeriodYear"
                    class="form-control contractRentalInput" required
                    {{#unless editmode}} disabled readonly {{/unless}}>
                {{#each this.paymentPeriodYears}}
                <option {{#if this.selected}}
                        selected
                        {{/if}}
                        value="{{this.id}}">
                    {{this.paymentPeriodYearName}}
                </option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 ">
        <div class="form-group">
            <label for="contractRentPay">
                Payment
            </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                </div>
                <input type="number"
                       id="contractRentPay"
                       name="contractRentPay"
                       class="form-control contractRentalInput"
                       placeholder="0.00"
                       step=".01"
                       min="0"
                       value="{{contractRental.contractRentPay}}"
                       {{#unless editmode}} disabled readonly {{/unless}} />
            </div>
            <div style="display:none;" id="contractRentPayError"><span class="text-danger small">Please enter a valid amount </span></div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
            <label for="contractRentalEntryDate">
                Entry Date
            </label>
            <div class="input-group">
                <input type="text" class="form-control" id="contractRentalEntryDate" name="contractRentalEntryDate" readonly
                       {{#unless this.editmode}}
                       disabled
                       {{/unless}} />
                {{#if this.editmode}}
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="contractRentalEntryDateBtn" type="button"><i class="fas fa-calendar-alt"></i></button>
                    <button class="btn btn-outline-secondary" id="contractRentalEntryDateClearBtn" type="button"><i class="fas fa-times"></i></button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
            <label>
                Held By Production?
            </label>
            <div>
                {{#if this.editmode}}
                <input id="heldByProductionToggle" type="checkbox"
                       {{#if contractRental.heldByProduction}}
                       checked
                       {{/if}}
                       data-style="ios">
                {{else}}
                <input class="form-control" readonly disabled
                       value="{{#if contractRental.heldByProduction}} Yes {{else}} No {{/if}}" />
                {{/if}}
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control contractRentalInput" id="contractRentalNotes" name="contractRentalNotes" rows="3"
                      {{#unless this.editmode}}
                      disabled
                      {{/unless}}>{{contractRental.contractRentalNotes}}</textarea>
        </div>
    </div>

    {{#if showOverdueInd}}
    <div class="col-sm-12">
        <div class="alert alert-info d-flex flex-row">
            <i class="fas fa-fw fa-info-circle mr-3 align-self-center"></i>
            <div>
                This payment is overdue
            </div>
        </div>
    </div>
    {{/if}}

    {{#if showExpirationInd}}
    <div class="col-sm-12">
        <div class="alert alert-warning d-flex flex-row mt-3">
            <i class="fas fa-fw fa-hourglass-end mr-3 align-self-center"></i>
            <div>
                This contract has expired
            </div>
        </div>
    </div>
    {{/if}}

    {{#if showTerminationInd}}
    <div class="col-sm-12">
        <div class="alert alert-danger d-flex flex-row mt-3">
            <i class="fas fa-fw fa-ban mr-3 align-self-center"></i>
            <div>
                This contract is terminated
            </div>
        </div>
    </div>
    {{/if}}

    {{#if editmode}}
    <div class="col-md-12">
        <div class="form-group">
            <button type="submit" class="btn btn-info contractRentalSubmitbtn">
                <i class="fas fa-save"></i>
                Save
            </button>
            <button type="button" class="btn btn-info contractRentalSubmitBtnDisabled" disabled style="display: none;">
                <i class="fas fa-spinner fa-spin"></i>
                Save
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#contractRentalModal">
                <i class="fas fa-times"></i> Cancel
            </button>
            <button type="button" class="btn btn-primary scrollToTopBtn faa-parent animated-hover">
                <i class="fas fa-hand-point-up faa-bounce"></i> Scroll to Top
            </button>
        </div>
    </div>

    {{else}}
    <div class="col-md-12">
        <div class="form-group">

            <button type="button" class="btn btn-secondary editContractRentalBtn">
                <i class="fas fa-edit"></i> Edit
            </button>
            <button type="button" class="btn btn-primary scrollToTopBtn faa-parent animated-hover">
                <i class="fas fa-hand-point-up faa-bounce"></i> Scroll to Top
            </button>
        </div>
    </div>
    {{/if}}
</div>
</form>