<div class="card-columns">

  <div class="card homecard text-white bg-primary" id="contractsCard">
     <div class="card-header">
    <h3 class="card-h3"> <i class="fas fa-file-contract pr-2 fa-2x"></i>Contracts</h3>
  </div>
    <div class="card-body">
      <h5 class="card-title">The Contracts Module</h5>
      <p class="card-text">
          <ul>
              <li>
                  <a href="{{this.baseUrl}}contracts" style="text-decoration: none;"><span class="text-white">Search Contracts</span></a>
              </li>
              <li>
                  <a href="{{this.baseUrl}}contracts?container=addUpdateContractContainer" style="text-decoration: none;"><span class="text-white">Add Contract</span></a>
              </li>
              <li>
                  <a href="{{this.baseUrl}}contracts?container=manageLesseesContainer" style="text-decoration: none;"><span class="text-white">Lessees</span></a>
              </li>
              <li>
                  <a href="{{this.baseUrl}}contracts?container=manageTractsContainer" style="text-decoration: none;"><span class="text-white">Tracts</span></a>
              </li>
          </ul>
      </p>
    </div>
  </div>

  <div class="card homecard text-white bg-success"> 
      <div class="card-header">
    <h3> <i class="fas fa-atom pr-2 fa-2x"></i>Wells</h3>
  </div>
      <div class="card-body">
          <h5 class="card-title">The Wells Module</h5>
          <p class="card-text">
              <ul>
                  <li>
                      <a href="{{this.baseUrl}}wells" style="text-decoration: none;"><span class="text-white">Search Wells</span></a>
                  </li>
                  <li>
                      <a href="{{this.baseUrl}}wells?container=addUpdateWellContainer" style="text-decoration: none;"><span class="text-white">Add Well</span></a>
                  </li>
              </ul>
          </p>
      </div>
  </div>

  <div class="card homecard  bg-light" id="accountingCard"> 
      <div class="card-header">
    <h3> <i class="fas fa-calculator pr-2 fa-2x"></i>Accounting</h3>
  </div>
    <div class="card-body">
      <h5 class="card-title">The Accounting Module</h5>
      <p class="card-text">
        <ul>
          <li>
             <a href="{{this.baseUrl}}account"><span class="text-dark">Enter a Royalty Adjustment</span></a>
          </li>
            <li>
             <a href="{{this.baseUrl}}account?container=royaltyPaymentContainer"><span class="text-dark">Enter a Royalty Payment</span></a>
          </li>
           <li>
             <a href="{{this.baseUrl}}account?container=liquidsRoyaltyPaymentContainer"><span class="text-dark">Enter a Liquid Royalty Payment</span></a>
          </li>
          <li>
             <a href="{{this.baseUrl}}account?container=storageFieldPaymentContainer"><span class="text-dark">Enter a Storage Field Payment</span></a>
          </li>
           <li>
             <a href="{{this.baseUrl}}account?container=tractRentalPaymentContainer"><span class="text-dark">Enter a Tract Rental Payment</span></a>
          </li>
           <li>
             <a href="{{this.baseUrl}}account?container=otherPaymentContainer"><span class="text-dark">Enter Other Type of Payment</span></a>
          </li>
          <li>
             <a href="{{this.baseUrl}}account?container=recordLesseesOwnershipContainer"><span class="text-dark">Record Lesee's Ownership of Tract / 2A</span></a>
          </li>
          <li>
             <a href="{{this.baseUrl}}account?container=unitizedWellListingContainer"><span class="text-dark">Unitized Well Listing</span></a>
          </li>
           <li>
             <a href="{{this.baseUrl}}account?container=verifyCheckEntriesContainer"><span class="text-dark">Verify Check Entries / Check Total Amount</span></a>
          </li>
        </ul>
       
      </p>
    </div>
  </div>

 <div class="card homecard text-white bg-info" style="display:none;">
     <div class="card-header">
    <h3> <i class="fas fa-cubes pr-2 fa-2x"></i>Units</h3>
  </div>
    <div class="card-body">
      <h5 class="card-title">The Units Module</h5>
      <p class="card-text">Boy the way Glen Miller played. Songs that made the hit parade. Guys like us we had it made.
</p>
    </div>
  </div>

  <div class="card homecard text-white bg-dark" style="display:none;">
     <div class="card-header">
    <h3> <i class="fas fa-money-check-alt pr-2 fa-2x"></i>Surety</h3>
  </div>
    <div class="card-body">
      <h5 class="card-title">The Surety Module</h5>
      <p class="card-text">Now the world don't move to the beat of just one drum. What might be right
           for you may not be right for some. One two three four five six seven eight Sclemeel schlemazel hasenfeffer incorporated.
</p>
    </div>
  </div>

    <div class="card homecard text-white bg-danger" style="display:none;">
   <div class="card-header">
    <h3> <i class="fas fa-search-dollar pr-2 fa-2x"></i>Audit</h3>
  </div>

    <div class="card-body">
      <h5 class="card-title">The Audit Module</h5>
      <p class="card-text">Come and knock on our door. We've been waiting for you. Where the kisses are hers and hers and his. Three's company too.,
           Got kind of tired packin' and unpackin' - town to town and up and down the dial. Baby if you've ever wondered - wondered whatever became of me.
            I'm living on the air in Cincinnati. Cincinnati WKRP.
           Just two good ol' boys Never meanin' no harm. Beats all you've ever saw been in trouble with the law since the day they was born?
</p>
    </div>
  </div>

     <div class="card homecard bg-warning" style="display:none;">
   <div class="card-header">
    <h3> <i class="fas fa-question-circle pr-2 fa-2x"></i>Reports</h3>
  </div>
    <div class="card-body">
      <h5 class="card-title">Reports and Queries</h5>
      <p class="card-text">Maybe you and me were never meant to be. But baby think of me once in awhile. I'm at WKRP in Cincinnati.
</p>
    </div>
  </div>

</div>